#peking{
	background-image: url("../img/sos.gif");
}

.griditem img{
	width: 94%;
}

.grid{
 	width: auto;
	margin-top: 5rem;
	margin-left: auto;
	overflow-y: hidden;
 }

 .col,
 .griditem{
 	width: 33%;
 }

ul p{
	line-height: 2rem;
	font-size: 1rem;
	font-weight: normal; 
}

.griditem h2, p{
	text-align: center;
}

.griditem p{
	font-size: .9rem;
	opacity: .6;
	text-decoration: none;
}

