@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,500');

body{
	font-size: 20px;
	background: black;
	color: white;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	margin: 3rem 7%;
	line-height: 1.5rem;
	width: 86%
}
.section{
	border-top: 1px solid white;
	padding: .5rem 0;
}

h1{
	font-size: 3rem;
	font-weight: 500;
	margin-top: 4rem
}

h2{
	font-size: 1.5rem;
	padding: 1rem 0;
	font-weight: 500;
	cursor: pointer;
}

h2 a{text-decoration: none; color: white}

h2:hover {
	-moz-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}

/*h2:active {
	-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
}
*/

.sub{
	text-transform: uppercase;
	font-size: 1rem;
	margin: 1rem 0;

}

p{
	margin: .5rem 0;
	width: 85%
}


#corner{
	width: 15vw;
	filter: invert(100%);
	position: fixed;
	bottom: 3.5%;
	right: 3.5%;
	display: none
}

#coord{
	font-size: .8rem;
	position: fixed;
	bottom: 2rem;

}